<%= @title %>
<div class='resume'>
	<% @resume.each do |r| %>
		<span>
			<%= r.from %> - <%= r.to %>
			<ul>
				<li>Key member for Ruby on Rails website (Ruby 1.9 and Rails 3.2) under linux environment, using JSON, XML, AJAX, JQUERY.</li>
				<li>I used to go to Singapore to support client for deployment and configuration the web application. I also have chance to go to Hong Kong with my leader to join in discussion about planning projects.</li>
			</ul>
		</span>
	<% end %>

	<span>
			2014 - present
			<ul>
				<li>Key member for Ruby on Rails website (Ruby 1.9 and Rails 3.2) under linux environment, using JSON, XML, AJAX, JQUERY.</li>
				<li>I used to go to Singapore to support client for deployment and configuration the web application. I also have chance to go to Hong Kong with my leader to join in discussion about planning projects.</li>
			</ul>
		</span>
</div>