// Place all the styles related to the Resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.resume {
  span {
    font-size: 18px;
    font-family: tahoma;
    color: black;
    font-weigth: bold;
    ul {
      font-size: 14px;
      color: gray;
    }
  }
}